# Markdown tiedostot
*.md text
*.md diff=markdown

# Kiekkotunnisteet
*.fi.md linguist-language=Finnish
*.sv.md linguist-language=Swedish
*.en.md linguist-language=English

# Binääritiedostot (esim. kuvat)
*.png binary
*.jpg binary
*.svg binary
